<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:annotation-config/>

    <bean class="org.manlier.core.config.MyConfiguration"/>

    <!--Required -->
    <bean class="org.manlier.core.ioc.annotation.MovieFinder"/>

    <bean id="simpleMovieLister" class="org.manlier.core.ioc.annotation.SimpleMovieLister"/>

    <!--Autowired-->

    <!--# qualifier-->
    <bean id="main" class="org.manlier.core.ioc.annotation.MovieCatalog" />
    <!--<bean class="org.manlier.core.ioc.annotation.MovieCatalog" primary="true"/>-->
    <bean class="org.manlier.core.ioc.annotation.MovieCatalog">
        <qualifier type="org.manlier.core.ioc.annotation.qualifier.MovieQualifier">
            <attribute key="format" value="VHS"/>
            <attribute key="genre" value="Action"/>
        </qualifier>
        <!-- inject any dependencies required by this bean -->
    </bean>

    <bean class="org.manlier.core.ioc.annotation.MovieCatalog">
        <qualifier type="org.manlier.core.ioc.annotation.qualifier.MovieQualifier">
            <attribute key="format" value="VHS"/>
            <attribute key="genre" value="Comedy"/>
        </qualifier>
        <!-- inject any dependencies required by this bean -->
    </bean>

    <bean class="org.manlier.core.ioc.annotation.MovieCatalog">
        <meta key="format" value="DVD"/>
        <meta key="genre" value="Action"/>
        <!-- inject any dependencies required by this bean -->
    </bean>

    <bean class="org.manlier.core.ioc.annotation.MovieCatalog">
        <meta key="format" value="BLURAY"/>
        <meta key="genre" value="Comedy"/>
        <!-- inject any dependencies required by this bean -->
    </bean>
    
    <bean id="movieRecommender" class="org.manlier.core.ioc.annotation.MovieRecommender"/>
</beans>